.paginator {
  position: relative;
  top: 94%;
  left: 950px;
  display: flex;
  justify-content: center;
  height: 35px;
  z-index: 4;
}
.paginator button {
  background: #282c34;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 4px;
}

.paginator button:disabled {
  opacity: 0.5;
}

.thisPage {
  padding: 5px;
  font-size: 22px;
}
